# Core Framework
fastapi
uvicorn[standard]

# Data and ORM
sqlalchemy==2.0.34

# Utilities and Environment
python-dotenv==1.0.1
pydantic==2.9.2
pydantic[email]
email-validator==2.2.0
tzdata==2025.2

# Email API Fix
requests  # <-- CLAVE: Necesario para que la función send_email use la API de SendGrid

# Async/WS and Deployment Tools
websockets==12.0
watchfiles==0.21.0